.contacts-page {
    background-color: #241f39;
    min-height: 100vh;
    color: #fff;
    font-family: Arvo;
    position: relative;
}

.contacts {
    width: 55%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.contacts .picture {
    height: 17em;
    width: 17em;
    border-radius: 50%;
    border: 1px solid black;
    margin-bottom: 1rem;
}

.contacts .picture img {
    width: 100%;
}

.contacts .socials {
    margin: 0 10px;
}

.contacts .socials:hover {
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .contacts-page .contacts .picture {
        height: 14em;
        width: 14em;
    }

    .contacts {
        margin-top: 3rem;
    }

    .dev-text {
        text-align: center;
        margin-top: 1rem;
    }
}